.App {
  text-align: center;
  background-size: cover;
  background-position: center;
  background-image: url('/src/images/travelling-image.jpg');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:Black;
  font-family: 'Raleway', sans-serif;
  
}
h1{
  margin-bottom: 30px;
  font-family: 'Raleway', sans-serif;
}


.form-container {
  background: rgba(255, 255, 255, 0.30);
  backdrop-filter: blur(3.5px);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
}
.form-group {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  

}
.input-field {
  width: 90%;
  padding: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  margin-top: 5px;
  border-radius: 2rem;
  width: 90%;
  height: 3rem;
  padding: 1rem;
  border: none;
  outline: none;
  font-size: rem;
  font-weight:lighter;
}

.post-button {
  background: linear-gradient(to right, #14163c 0%, #03217b 79%);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  width: 65%;
  height: 3rem;
  border: none;
  color: #ffffff; 
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

  .post-button:hover {
    background-color: #1c1f4e;
    transform: scale(1.05); 
  }
  .post-button:active {
    background-color: #0d0f32; 
    opacity: 0.8; 
  }

