.App {
  text-align: center;
  background-size: cover;
  background-position: center;
  background-image: url('/src/images/photo-1631873504707-70ba49dac7bf.avif');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */  /* AAYUSHFRONTEND */ /*COMMENT THIS OUT*/
  color:Black;
  font-family: 'Raleway', sans-serif;
}

h1{
  margin-bottom: 30px;
  font-family: 'Raleway', sans-serif;
}


.form-container {
  background: rgba(255, 255, 255, 0.30);
  backdrop-filter: blur(3.5px);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
}
.form-group {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  

}
.input-field {
  width: 90%;
  padding: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  margin-top: 5px;
  border-radius: 2rem;
  width: 90%;
  height: 3rem;
  padding: 1rem;
  border: none;
  outline: none;
  font-size: rem;
  font-weight:lighter;
}

.input-text {
  width: 90%;
  padding: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  margin-top: 5px;
  border-radius: 2rem;
  width: 90%;
  height: 9rem;
  padding: 1rem;
  border: none;
  outline: none;
  font-size: rem;
  font-weight:lighter;
  resize: none;
}

.post-button {
  background: linear-gradient(to right, #14163c 0%, #03217b 79%);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  width: 65%;
  height: 3rem;
  border: none;
  color: #ffffff; 
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

  .post-button:hover {
    background-color: #1c1f4e;
    transform: scale(1.05); 
  }
  .post-button:active {
    background-color: #0d0f32; 
    opacity: 0.8; 
  }




/* AAYUSHFRONTEND */
/* FROM HERE BELOW */
.navbar {
  background-color: #008080;
  color: #fff;
  padding: 0px 0;
  height: 12vh;
  background-position: cover ;
  background-color: rgba(0, 0, 0, 0.2); /* The last value (0.2) controls transparency */
  padding: 20px; /* Add padding or adjust as needed */
  width: 100%;
  margin-bottom: 3vh;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 36px;
  font-weight: bold;
  text-decoration: none; /* AAYUSHFRONTEND */
  color: white; /* AAYUSHFRONTEND */
  margin: 5px 0 0 10px; /* AAYUSHFRONTEND */
}

.login-butt {
  background-color: #008080;
  color: #fff;
  border: 1px solid #004545;
  padding: 15px 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  margin: 0 5px 0 5px;
  transition: background-color 0.3s ease;
  height: 20%;
}
.login-butt:hover{
  transform: perspective(1px) scale3d(1.05, 1.05, 1) translateZ(0);
  background-color: #005555; 
}

