body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('./images/travelling-image.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

  .tagalong-button:hover {
    background-color: #1c1f4e;
    transform: scale(1.05); 
  }
  .tagalong-button:active {
    background-color: #0d0f32; 
    opacity: 0.8; 
  }


.confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.30);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.5px);
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  width: 100%;
  margin: 20px;
}

.confirmation-header {
  font-size: 24px;
  margin: 10px 0;
}

.location-image img {
  width: 200px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  margin: 10px 0;
}

.confirmation-details {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.confirmation-item {
  margin: 0 20px;
  text-align: left;
}

.confirmation-item strong {
  display: block;
  font-weight: bold;
}

.tagalong-button{
  background: linear-gradient(to right, #14163c 0%, #03217b 79%);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  width: 20%;
  height: 3rem;
  border: none;
  color: #ffffff; 
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

  .tagalong-button:hover {
    background-color: #1c1f4e;
    transform: scale(1.05); 
  }
  .tagalong-button:active {
    background-color: #0d0f32; 
    opacity: 0.8; 
  }

