 /*AAYUSHFRONTEND*/
 /* THIS ENTIRE THING */
 /* PS: THERE IS A NEW PHOTO AND IT IS INSIDE THE IMAGES FOLDER */


.chatroom-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    width: 100%; 
    min-height: 100vh;
    background-image: url('/src/images/daniel-leone-g30P1zcOzXo-unsplash.jpg');  /*THIS IS THE NEW PHOTO*/
    background-size: cover;
  }

  .travel-chat-container {
  display: flex;
  justify-content: space-between;
  width: 100%;  
  min-height: 80vh;
  padding: 20px;
  }
  
  .travel-description {
    flex: 1;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    background-color: rgba(255, 255, 255, 0.5); /* The last value (0.2) controls transparency */
  }
  
  .travel-description h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .travel-description ul {
    list-style-type: none;
    padding: 0;
  }
  
  .travel-description li {
    margin-bottom: 5px;
  }
  
  .chat-ui {
    justify-content:space-between;
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5); /* The last value (0.2) controls transparency */
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
  }

  .headerDiv{
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .chat-ui h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .chat-messages ul {
    
    list-style-type: none;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    flex: 1;
  }
  
  .chat-messages li {
    margin-bottom: 5px;
  }
  
  .chat-input {
    justify-content:space-between;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .chat-input input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .chat-input button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .chat-input button:hover {
    background-color: #0056b3;
  }
  